input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#inputForm{
  padding: 5px;
  margin-top: auto;
}
#add{
  float:right;
  margin-top: 5px;
}
.contactContainer, .contactContainer h3{
  margin-left: 5px;
  margin-right: 5px
}
.contactRecord.close{
  background:#f39c12!important;
}
.veryClose{
  background:#e74c3c!important;
}
a.contactRecord{
  color:black;
}

a.contactRecord:hover{
  color:black;
  box-shadow: 0 0 2px 3px blue;
}

a.contactRecord.veryClose:hover{
  color:black;
  box-shadow: 0 0 2px 3px red;
}
a.contactRecord.close:hover{
  color:black;
  box-shadow: 0 0 2px 3px green;
}
